.header {
    display: flex;
    background-color: #fffaf5;
    box-shadow: 1px 2px 10px 1px #d4c2b6;
    -webkit-box-shadow: 1px 2px 10px 1px #d4c2b6;
    -moz-box-shadow: 1px 2px 10px 1px #d4c2b6; }
    .header__foto {
    width: 6.25rem;
    height: 6.25rem; }
    .header__item{
        display: inline;
        padding: 20px;
    }
    .header .navbar {
    background-color: #dac7c2; }

a {
    text-decoration: none; }
a:hover {
    font-weight: bold;
    transition: .4s; }
a:visited {
    color: black; }

#formulario-consulta {
    border-radius: 20px;
    margin: auto;
    width: 25rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin-top: 50px;
    border: 0.094rem solid black;
    background-color: white; 
}
#email-consulta{
    margin-top: 0.625rem; 
    margin-bottom: 0.625rem;
}
#nombre-consulta {
    margin-bottom: 0.625rem;
    margin-top: 0.625rem; 
}
#apellido-consulta{
    margin-top: 0.625rem;
    margin-bottom: 0.625rem; 
}
#consulta-consulta{
    margin-top: 0.625rem;
    margin-bottom: 0.625rem; 
}
#info{
    margin-left:207px;
    }
p {
    display: none;
    font-size: 15px;
}
.verInformacion{
    display: block;
    }

.main__login{
    border-radius: 20px;
    margin: auto;
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin-top: 50px;
    border: 0.094rem solid black;
    background-color: white; 
}

#correo-login{
    margin-bottom: 0.625rem;
    margin-top: 0.625rem; 
}
#contrasenia-login{
    margin-bottom: 0.625rem;
    margin-top: 0.625rem; 
}

.main__titulo{
    margin-top: 0.625rem;
    font-size: xx-large;
    font-weight: 600;
    text-align: center;
}

#iniciar-boton{
    display: contents;
}

#logout-boton {
    display: none;
}
