@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

a{
    text-decoration: none;
    }
    a:hover {
        font-weight: bold;
        transition: .4s; }
    a:visited {
        color: black; }

nav{
    height: 100%;
}
ul{
    height: 100%;
    display: flex;
    align-items: center;
}
.header {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #fffaf5;
    box-shadow: 1px 2px 10px 1px #d4c2b6;
    -webkit-box-shadow: 1px 2px 10px 1px #d4c2b6;
    -moz-box-shadow: 1px 2px 10px 1px #d4c2b6;
    }
    .header__foto {
    width: 4rem;
    height: 4rem; }
    .header__item{
        display: inline;
        padding: 20px;}
    .header .navbar {
    background-color: #dac7c2;}

.div__animacion:hover {
    transform: scale(1.1);
    transition: .4s;
    cursor: pointer;
    color: black; }

.main {
    background-color: #EEEEEE;
    width: 100%;
    margin: auto;
    display: grid;grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    row-gap: 45px;}

.fotoProductos{
    width: 100%;
    height: 300px;
}


.producto {
    justify-self: center;
    width: 300px;
    padding:10px;
    margin:10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.maini{
    background-color: #EEEEEE;
    }  
    .maini__img{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        width: 800px;
        height: 500px;
        margin: auto;}
    .miani__boton{
        text-decoration: none;
        padding: 0.6rem;
        font-weight: 500;
        color: white;
        background-color: #2C3333;
        border-radius: 0.375rem;
        border: 0.094rem solid white;
        margin: auto;}
    .miani__boton:hover{
        color: #2C3333;
        background-color: white; }
    .maini__div{
        display: flex;
        justify-content: space-around;
        margin-top: 50px;}
    .maini__imagen{
        border-radius: 10px;
        margin-left: 150px;
        width: 400px;
        height: 450px;
        margin-bottom: 20px;}
    .maini__text{
        display: flex;
        justify-content: space-between;
        max-width: 400px;
        margin-top: 50px;}

.mainc{
    background-color: #EEEEEE;
    min-height: calc(100vh - 100px - 60px); 
}

.mainco{
    background-color: #EEEEEE;
    min-height: calc(100vh - 100px - 60px); 
    padding-top: 50px;
}


#formulario-consulta {
    border-radius: 20px;
    margin: auto;
    width: 25rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin-top: 50px;
    border: 0.094rem solid black;
    background-color: white; 
}
#email-consulta{
    margin-top: 0.625rem; 
    margin-bottom: 0.625rem;
}
#nombre-consulta {
    margin-bottom: 0.625rem;
    margin-top: 0.625rem; 
}
#apellido-consulta{
    margin-top: 0.625rem;
    margin-bottom: 0.625rem; 
}
#consulta-consulta{
    margin-top: 0.625rem;
    margin-bottom: 0.625rem; 
}
#info{
    margin-left:207px;
    }

.verInformacion{
    display: block;
    }

.mainl{
    min-height: calc(100vh - 100px - 60px); 
    background-color: #EEEEEE;
    padding: 50px;
    }
    .main__login{
        border-radius: 20px;
        margin: auto;
        width: 20rem;
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        border: 0.094rem solid black;
        background-color: white;
    }

.mainr{
    min-height: calc(100vh - 100px - 60px); 
    background-color: #EEEEEE;
    padding: 50px;
    }
    .mainr__registrarse{
        border-radius: 20px;
        margin: auto;
        width: 20rem;
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        margin-top: 50px;
        border: 0.094rem solid black;
        background-color: white;}

.footer {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #fffaf5;
    box-shadow: 1px 2px 10px 1px #d4c2b6;
    -webkit-box-shadow: 1px 2px 10px 1px #d4c2b6;
    -moz-box-shadow: 1px 2px 10px 1px #d4c2b6;
    justify-content: space-between; }
    .footer__redes {
        align-items: center;
        color: black;
        display: inline;
        justify-content: space-between;}
    .footer__derechos {
        font-size: x-small;
        margin-top: 0.625rem; }

.imagenDelCarrito{
    border-radius: 10px;
}
#correo-login{
    margin-bottom: 0.625rem;
    margin-top: 0.625rem; 
}
#contrasenia-login{
    margin-bottom: 0.625rem;
    margin-top: 0.625rem; 
}

#iniciar-boton{
    display: contents;
}

#logout-boton {
    display: none;
}

