
#formulario-consulta {
    border-radius: 20px;
    margin: auto;
    width: 25rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin-top: 50px;
    border: 0.094rem solid black;
    background-color: white; }
#email-consulta{
    margin-top: 0.625rem; 
    margin-bottom: 0.625rem;
}
#nombre-consulta {
    margin-bottom: 0.625rem;
    margin-top: 0.625rem; 
}
#apellido-consulta{
    margin-top: 0.625rem;
    margin-bottom: 0.625rem; 
}
#consulta-consulta{
    margin-top: 0.625rem;
    margin-bottom: 0.625rem; 
}
#info{
    margin-left:207px;
}
p {
    display: none;
    font-size: 15px;
}
.verInformacion{
    display: block;
}
